/* Fonts */
@font-face {
  font-family: "Bangers";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Bangers.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Oswald.woff") format("woff");
}

/* Normalization */

body,
ul,
h1,
h2,
p {
  margin: 0;
}

img {
  border: 0;
}

* {
  box-sizing: border-box;
}

/* Global */

body {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  color: black;
}

header,
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1 {
  font-family: "Bangers", "Gill Sans", sans-serif;
  letter-spacing: 0.5vw;
}

a {
  color: #555;
  text-decoration: underline;
}

abbr {
  text-decoration: none;
}

svg {
  fill: currentColor;
}

p {
  margin: 1em 0;
  line-height: 1.5;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

blockquote {
  margin: 32px 0 0;
}

blockquote::before {
  display: inline;
  content: "“";
}

blockquote::after {
  display: inline;
  content: "”";
}

blockquote:first-of-type {
  margin-top: 0;
}

cite {
  font-style: normal;
}

cite::before {
  display: inline;
  content: "—";
}

.mouse-mode * {
  outline: 0;
}

/* Header */

header {
  background-color: hsl(45, 92%, 85%);
}

h1 {
  font-size: 12vw;
  text-align: center;
}

h1::after {
  display: inline-block;
  content: "!";
}

.scroll-link {
  display: inline-block;
  width: 100px;
  height: 100px;
  align-self: center;
  text-decoration: none;
  transition-duration: 300ms;
  color: #000;
  transform: scale(0.9);
  margin: 64px 0 128px 0;
}

/* Bio */

.bio {
  min-height: calc(100vh);
  padding: 16px 12px;
  background-color: hsl(203, 92%, 85%);
}

.bio-column {
  max-width: 59ch;
  margin: 0 auto;
}

.avatar-image {
  width: 35%;
  margin: 1em 0;
}

.avatar-image > * {
  border-radius: 100%;
  width: 100%;
}

/* Book */

.book {
  min-height: calc(100vh);
  padding: 16px 12px;
  background-color: hsl(0, 92%, 85%);
}

.book-column {
  max-width: calc(100vw - 32px);
  margin: 64px auto;
}

.book-image > * {
  width: 100%;
  filter: drop-shadow(hsl(0, 10%, 25%) 5px 5px 10px);
}

.book-quotes {
  padding-top: 32px;
}

blockquote.excerpt {
  background: #fff;
  border-radius: 4px;
  margin: 64px 0;
  padding: 28px 32px;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.5;
  box-shadow: 0 0 0 6px hsl(0, 50%, 40%);
}

.cta-link {
  display: inline-block;
  padding: 16px 20px;
  border-radius: 3px;
  border: 4px solid hsl(0, 92%, 20%);
  background: hsl(0, 92%, 35%);
  color: #fff;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Utility classes */

.flex-center {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

.flex-column {
  flex-basis: 50%;
}

.fade-out {
  transition-duration: 400ms;
  opacity: 0;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Desktop styles */

@media (min-width: 900px) {
  .book-column {
    max-width: 80vw;
  }

  .flex-columns {
    flex-direction: row;
  }

  .book-quotes {
    padding-top: 0;
    padding-left: 4vw;
  }

  blockquote.excerpt {
    font-size: 24px;
  }
}

@media (hover: hover) {
  a:hover {
    color: #999;
  }

  .scroll-link:hover {
    color: inherit;
    transform: scale(1.2);
  }

  .cta-link:hover {
    color: #fff;
    background: hsl(0, 92%, 45%);
  }
}
